@media screen and (min-width: 768px) and (max-width: 1024px)
{
    .global{
        flex-direction: column-reverse;
        width: auto;
    }

    .cote{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 10px;
    }

    .filtres {
        margin: auto;
    }

    .info {
        margin: auto;
    }

    .icone_cote{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .populaires{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .populaires a {
        width: 32%;
    }
    
    .blanc{
        margin: 0 5px 0 5px;
    }

    .hebergement{
        margin: 0px;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .chambre123{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .chambre456{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .color{
        margin: 10px 0;
    }

    #lien1{
        padding: 0;
    }

    .bas{
        padding: 10px;
    }

    body{
        margin: 0;
    }

    .global2{
        padding: 0 15px;
    }

    .categorie:hover{
        background-color: white;
        transform: none;
    }

    header a:hover{
        border-top: 3px #DEEBFF solid;
        cursor:initial;
    }

    .blanc:hover{
        transform: none;
    }

    .color:hover{
        transform: none;
    }

    .photo_activite:hover{
        transform: none;
    }

    footer a:hover{
        color: initial;
    }
    
    .activite{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .bloc {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        width: 49%;
    }

    .activite:first-child{
        height: 50%
    }

    .photo_activite{
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        margin-top: 40px;
    }

    #lien2 {
        margin: auto;
        padding-bottom: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    footer div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .destination {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .filtres {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    }

    .categorie_globale{
        padding-top: 10px;
    }

    .info {
        display: flex;
        justify-content: center;
    }
