@media screen and (max-width: 767px)
{
    body{
        margin: 0;
    }
    
    header{
        flex-direction: column;
    }

    header a{
        border-bottom: 3px #F2F2F2 solid;
    }

    .flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        padding-bottom: 0px;
        margin-top: 25px;
    }

    .header1{
        border-top: none;
        width: 100%;
        border-bottom: 3px #0065FC solid;
    }
    
    .header1:hover{
        border-top: none;
    }

    .header2{
        border-top: none;
        width: 100%;
    }

    .header2:hover{
        border-top: none;
        transition: .1s;
    }

    .header3{
        position: absolute;
        text-align: end;
        top: 5px;
        right: 0px;
        border-top: none;
        border-bottom: none;
    }

    .header3:hover{
        border-top: none;
    }

    .destination, .filtres {
        padding: 0 20px;
    }

    .info
    {
        padding: 0 20px 40px 20px;
    }

    .rechercher{
        display:none;
    }

    .bouton{
        padding: 14px;
        border-radius: 10px;
    }

    .recherche{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-map-marker-alt{
        padding: 15px;
        margin: 0;
        font-size: 16px;
    }

    .destination {
        margin: 30px 0 0 0;
    }

    form input{
        border: 2px solid #F2F2F2;
        padding: 10px 70px 10px 0;
        font-size: 16px;
    }

    .filtres h2{
        margin: 15px 0 15px 0;
    }

    .filtres{
        display: flex;
        flex-direction: column;
        align-items: flex-start;    }

    .categorie_globale{
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
    }

    .categorie{
        margin-bottom: 14px;
    }

    .categorie:hover{
        background-color: white;
        transform: none;
    }

    header img{
        margin: 15px 0 0 20px;
    }

    header a:hover{
        border-top: none;
        cursor:initial;
    }
    

    .blanc{
          margin: 13px 0 13px 0px;
    }

    .blanc:hover{
        transform: none;
    }
    

   .global{
       flex-direction: column;
       padding: 0;
   }

   .hebergement{
       order: 2;
       width: 100%;
       background-color: white;
   }

   .color{
       width: 100%;
       margin: 0 0 20px 0;
   }

   .color:hover{
    transform: none;
    }


   .cote{
       width: 100%;
       order: 1;
   }

   .bloc:first-child{
    padding: 0 20px 0 20px;
    }
    
   .activite{
       flex-direction: column;
       justify-content: space-around;
   }

   .bloc {
       width: 100%;
   }
   
   .photo_activite{
       width: 100%;
       margin: 0 0 20px 0;
   }

   .photo_activite:hover{
    transform: none;
    }


   .pic1,.pic2,.pic3,.pic4,.pic5{
       height: 120px;
   } 
    
   footer{
        flex-direction: column;
        padding: 30px 30px;
    }

    .hebergement{
        margin: 0;
    }

    #lien2{
        padding: 50px 0 20px 22px;
    }

    footer a:hover{
        color: initial;
    }

    #marecherche {
        padding-right: 10px;
        padding-left: 10px;
    }

    .fa-map-marker-alt {
        padding: 16px 15px 15px 15px;
    }
}
